<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.innocept.taximasterdriver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".ApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC4j_LRXzLBu3_ANhztr0YV8dUevvgADJE" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.DriverStateActivity"
            android:screenOrientation="portrait" />

        <service android:name=".model.location.GPSLocationUpdateService" />
        <receiver android:name=".model.location.AlarmReceiver" />

        <activity
            android:name=".ui.activity.NewOrderActivity"
            android:parentActivityName=".ui.activity.OrderListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.OrderListActivity"
            android:parentActivityName=".ui.activity.DriverStateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CurrentOrderActivity"
            android:parentActivityName=".ui.activity.OrderListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.PreferenceActvity"
            android:parentActivityName=".ui.activity.DriverStateActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>